body {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
.bg {
    background: url('/images/bg1.jpg');
    background-size: auto;
    text-align: center;
  }
  h1{
      background-color: white;
  }
 canvas {
     background-color: white;
     padding: 10px;
     margin-top: 50px;
 }
 p {
     background-color: #fff;
     margin-top: 0px;
     padding-bottom: 20px;
     font-size: large;
 }