body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.bg {
  background: url('/images/bg.png');
  background-size: 115%;
  background-position: center 20%;
  backdrop-filter: blur(2px);
  text-align: center;
}

a {
  color: #ffffff;
}

h1 {
  text-align: center;
  font-size: 30px;
}

.sk-form {
  font-size: larger;
}

label {
  padding-left: 20px;
}

table {
  font-size: larger;
  margin-left: auto;
  margin-right: auto;
}
th {
  color:black;
  font-size: 18px;
}
td{
  padding-left: 50px;
  padding-right: 50px;
}
tbody {
  color: #ffffff;
}
.menu {
  padding: 10px;

}
